@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* PLUGINS CSS */
@import url("./plugins/owl.carousel.css");
@import url("./plugins/slick.css");
@import url("./plugins/nice-select.css");


body {
  font: 14px "Montserrat", 'Open Sans', sans-serif;
  background-color: #F2F0E9;
}

#app{
  position: relative;
  min-height: calc(100vh - 106px);
}

.imgDeleteItem{
  width: 10px;
}
.main{
  padding-bottom: 2.5rem;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.formulario{
  margin: 5vh 0;
  border: 2px solid #262626;
}

.filaForm{
  margin: 5% 0%
}

.botonCargar{
  display: flex;
  direction: rtl;
}

.title{
  margin-top: 5%;
}

.campo{
  font-weight: bold;
}

.menu-selection a{
  text-decoration: none;
  color: #F2F0E9;
  margin-bottom: 3px!important;
}

.userOptions a{
  color: #262626;
}

header{
  background-color: #FFDD56 ;
}

.menu-selection-icons{
  display: none;
}

.menu-selection-search{
 display: none;
}

.header-collapse{
  background-color: #262626;
}

.navbar{
  background-color: #262626;
}

.space-img-logo{
  width: 100%;
  height: 64px;
}

.img-logo{
  border: 4px solid #262626;
  border-radius: 12px;
}

.search-text{
  background-color: #F2F0E9;
  border-radius: 30px;
  border: none;
  padding: 5px 0;
  height: 22px;
}

.search-text input{
  background-color: #F2F0E9;
  color: #262626;
  border: 0;
  width: 90%;
}

.search-button button{
  background-color: transparent;
  border: none;
  height: 15px;
  color: #F2F0E9
}

.dropdown-toggle::after {
  content: none !important;
}

.ageSelection{
  background-color: #262626;
}

.container-navigation-cart img{
  width: 80%;
}


.tittleCarousel{
  display: flex;
  justify-content: center;
  
}

hr{
  display: none;
}


.tittle p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
}

.containerProduct{
margin-bottom: 3%;
border: 4px solid #262626;
background-color: #ffea98;
border-radius: 30px;
}

.imgProduct{
  margin: 5% 0%;
}

h4{
  font-style:'Open Sans', sans-serif;
}

.card-text p{
  font-family: 'Montserrat';
}

.price{
  height: 30px;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.price p {
  font-weight: 800;
  font-size: 21px;
  padding-top: 4px;
  text-align: center;
  font-family: 'Montserrat';
}

.view img{
  width: 21%;
}

.addToCart img{
  width: 85%;
}

.cardBody{
  position: relative;
}

.hide{
  display: none;
}

footer h2{
  font-size: 12px;
}

footer h3{
  font-size: 14px;
}

footer p{
  font-size: 12px;
  margin: 2px;
}

footer a{
  border: 2px solid #F2F0E9;
  border-radius: 3px;
  text-decoration: none;
  color: #F2F0E9;
  padding: 2px;
}

footer h6{
  font-size: 12px;
}

.footer-copyright{
  background-color: #262626;
  color: #F2F0E9;
}

.footer-subscribe{  
  background-color: #3A3A38;
  color: #F2F0E9;
}

/*Profile*/
.profile{
  margin: 30px 10px;
  padding: 30px 15px;
  border: black solid 1px;
}
.profile-image img{
  border-radius: 50%;
  width:25%;
}

@media(min-width:426px) {
  .carousel-item{
    flex-direction: row;
  }
}

@media(min-width:768px) {

  .collapse:not(.show) {
    display: flex;
  }

  hr{
    display: block;
    border: 3px solid #262626;
    margin-top: 28px;
  }
  .fixed-top{
    position: static;
  }
  .container-menu-selection{
    background: rgb(255,221,86);
    background: linear-gradient(180deg, rgba(255,221,86,1) 0%, rgba(255,234,152,1) 100%);
    flex-direction: row-reverse!important;
  }

  .menu-selection{
    flex-direction: row!important;
    flex-wrap: wrap!important;
    width: 85%;
    justify-content: space-between!important;
  }

  .menu-selection-icons{
    display: flex;
    justify-content: space-around;
  }

  .menu-selection-icons a{
    display: flex;
    justify-content: center;
    width: 30px;

  }

  .menu-selection-icons img{
    width: 50%;
  }

  .menu-selection-search{
    display: flex;
    width: 400px;
  }

  .userName{
    display: contents;
    font-size: large;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
  }

  .search-text,
  .search-text input{
    background-color: #262626;
    color: #F2F0E9;
  }

  .search-button button{
    color: #262626;
  }

  .login{
    display: flex!important;
    justify-content: flex-end;
    width: 35%;
  }

  .login a{
    margin: 0px;
  }

  .login img{
    width: 22px;
  }

  .menu-bottom{
    width: 100%;
  }

  .menu-selection-options{
    flex-direction: row!important;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    width: 100%;
  }

  .menu-selection-options a{
    color: #262626;
    text-transform: uppercase;
    font-weight: 700;
  }

  .menu-selection-options_anchor + a:before{
    content: ' | ';
    padding: 0 5px;
  }

  .ageSelection{
    background-color: whitesmoke;
  }

  .menu-selection-options a:hover{
    font-size: larger;
    font-weight: 800;
  }

  .menu-selection-cart{
    display: flex!important;
    width: 20%;
    align-items: flex-end;
    margin-right: 48px;
    justify-content: flex-end;
  }

  .menu-selection-cart a{
    display: flex;
    justify-content: flex-end;
  }

  .menu-selection-cart img{
    width: 40px;
  }


  .container-navigation {
    display: none;
  }

  .logo-container{
    display: none;
  }
  .carousel-item{
    flex-direction: row;
  }

  footer{
    flex-shrink: 0;
  }
} 

/* estilos de listado de producto*/
.shopping-cart {
  width: 95%;
  height: 95%;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color:#F2F0E9;
  border: 1px black solid;
}
.titlecompra {
  height: 60px;
  padding: 20px 30px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.contenedorDeEncabezado{
  border: black solid 1px;
  align-items: center;
}
.encabezadoDeListado{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 10px;
  border-bottom: black 1px solid;
  padding-top: 11px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size:medium;
  background-color: #FFDD56;
}

.descripcionProducto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 15px;
}
.imagen {
  margin-right: 0px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.totalaPagar{
  border: black solid 2px;
  margin: auto;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;

}
.textoCuotas{
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.finalizarCompra{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size:small ;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.textNvoCliente{
  font-weight: 700;
}



.post-8 table {
  width: 100%;
}

  .post-8 table tr th {
      border-bottom: 2px solid #eee;
      vertical-align: middle;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 600;
      text-align: center;
      padding: 15px 10px;
      color: inherit;
      margin: 0;
      text-transform: uppercase;
  }

      .post-8 table tr th.product-remove {
          width: 40px;
      }

      .post-8 table tr th.product-thumbnail {
          width: 10px;
      }

      .post-8 table tr th.product-name {
          text-align: left;
      }

      .post-8 table tr th.product-quantity {
          float: none;
          display: table-cell;
      }

  .post-8 table tr td {
      border-bottom: 1px solid #eee;
      padding: 15px 12px;
      text-align: center;
      vertical-align: middle;
  }

.post-8 td.product-thumbnail img {
  max-width: 80px;
}

.post-8 table tr td.product-name {
  text-align: left;
}

.post-8 td.product-price {
  color: inherit;
  font-size: inherit;
}

.post-8 td.product-quantity, .post-8 td .product-quantity {
  margin: 0;
  float: none;
  display: table-cell;
}

.post-8 td.product-quantity, .post-8 td.product-subtotal {
  font-size: 18px;
  font-weight: 600;
}

.post-8 .cart-product-table-wrap {
  margin-bottom: 30px;
}

.post-8 .cart-actions {
  margin-bottom: 80px;
  display: flexbox;
  flex-direction: row;
}

.post-8 .cart-collateral {
  width: 100%;
  clear: both;
}

  .post-8 .cart-collateral .cart_totals {
      background: #f8f8f8;
      width: 100%;
      max-width: 480px;
      min-width: 320px;
      float: right;
      padding: 25px 15px 15px 15px;
  }

      .post-8 .cart-collateral .cart_totals h3 {
          text-align: center;
      }

      .post-8 .cart-collateral .cart_totals div.responsive-table {
          background: #fff;
          padding: 10px 20px;
          margin-bottom: 15px;
      }

      .post-8 .cart-collateral .cart_totals table tr td {
          text-align: right;
      }

      .post-8 .cart-collateral .cart_totals table tr th {
          text-align: left;
          text-transform: none;
          border-width: 1px;
      }

      .post-8 .cart-collateral .cart_totals table tr td ul {
          list-style: none;
      }

      .post-8 .cart-collateral .cart_totals table tr.order-total {
          text-align: left;
          border-width: 1px;
      }

          .post-8 .cart-collateral .cart_totals table tr.order-total th,
          .post-8 .cart-collateral .cart_totals table tr.order-total td {
              text-transform: uppercase;
              font-size: 18px;
              font-weight: 600;
              border-bottom: 0px none;
          }
          .responsive-table {
            overflow-x: auto;
        }

        .content-page {
          padding-bottom: 80px;
          padding-top: 50px;
      }
      .product-quantity {
        position: relative;
        width: 120px;
        float: left;
        display: block;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .form-full-width {
      width: 100%;
  }

  .product-quantity {
    position: relative;
    width: 120px;
    float: left;
    display: block;
    margin-right: 20px;
    margin-bottom: 15px;
}

    .product-quantity .quantity, .product-quantity .quantity:hover, .product-quantity .quantity:focus {
        margin: 0;
        -webkit-appearance: none !important;
        -moz-appearance: textfield !important;
        width: 100%;
        min-width: 80px;
        border-color: #ddd;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }

    .product-quantity input[type="number"]::-webkit-outer-spin-button,
    product-quantity input[type="number"]::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
    }

    .product-quantity .quantity::-ms-expand {
        display: none;
    }

.quantityPlus, .quantityMinus {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 30px;
    top: 0;
}

.quantityPlus {
    border-left: 1px solid #ddd;
}

.quantityMinus {
    left: 0;
    border-right: 1px solid #ddd;
}

    .quantityPlus:before, .quantityMinus:before {
        height: 100%;
        position: relative;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 2.7;
        font-size: 18px;
    }

.quantityPlus:before {
    content: "+";
}

.quantityMinus:before {
    content: "–";
}

ul#shipping_method {
  list-style: none;
}

#shipping_method label {
  display: inline-block;
  margin-bottom: 0;
}

input.input-lg, .input-lg {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 50px;
}

#more{
  width: 10px;
}

#minus{
  width: 10px;
}

  .sidebar-menu {
    background: #fff;
    width: 320px;
    height: 100%;
    top: 0;
    z-index: 3050;
    position: fixed;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.30);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0, 0.30);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.30);
}

.sidebar-right {
    right: -320px;
}

    .sidebar-right.sidebar-open {
        right: 0;
    }


/* click Buttons ( Toggle, Close ) */
#sidebar_toggle_btn {
}

#sidebar_close_icon {
    position: absolute;
    right: 30px;
    top: 31px;
}


/* Sidebar Menu Overlay */
.sidebar_overlay {
}

    .sidebar_overlay.sidebar_overlay_active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        z-index: 3030;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

.sidebar-menu .cart-sidebar-wrap {
    display: table;
    width: 100%;
    height: 100%;
}
/* Sidebar Content Cart */
.sidebar-menu .cart-widget-heading {
    padding: 30px;
    display: block;
    background: #FFDD56;
}

    .sidebar-menu .cart-widget-heading h4, .sidebar-menu .cart-widget-heading h5, .sidebar-menu .cart-widget-heading h4, .sidebar-menu .cart-widget-heading h3 {
        color: black;
        margin-bottom: 0;
        margin-top: 0;
    }

/*Cart Product Content*/
.sidebar-menu .cart-widget-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
}

    .sidebar-menu .cart-widget-content .cart-widget-product {
        position: relative;
    }

        .sidebar-menu .cart-widget-content .cart-widget-product .cart-empty {
            display: none;
        }

            .sidebar-menu .cart-widget-content .cart-widget-product .cart-empty p {
                font-size: 13px;
            }

        .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item {
            padding: 0;
            list-style: none;
            margin-bottom: 30px;
        }

            .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li {
                border-bottom: 1px solid #eee;
                padding-bottom: 15px;
                margin-bottom: 15px;
                display: block;
                position: relative;
            }

                .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li:last-child {
                    border-bottom: 0px none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }

                .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-image {
                    margin-right: 15px;
                    display: table-cell;
                    float: none !important;
                    margin-right: 0;
                    width: 30%;
                }

                    .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-image img {
                        width: 100%;
                        vertical-align: top;
                        max-width: 100%;
                        height: auto;
                        border: none;
                        outline: none;
                    }

                .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content {
                    border: 0 none;
                    width: 70%;
                    display: table-cell;
                    float: none !important;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 15px;
                    padding-right: 20px;
                    text-align: left;
                    vertical-align: top;
                }

                    .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .product-remove {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0;
                        text-align: center;
                    }

                    .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .product-link {
                        color: #333;
                        font-size: 13px;
                        display: block;
                        margin-bottom: 10px;
                        line-height: 1.4;
                    }

                        .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .product-link:hover {
                            color: black;
                        }

                    .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .cart-collateral {
                        color: #777;
                        font-size: 12px;
                    }

                        .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .cart-collateral .qty-cart {
                        }

                        .sidebar-menu .cart-widget-content .cart-widget-product .cart-product-item li .product-content .cart-collateral .product-price-amount {
                            font-weight: 600;
                            color: #333;
                        }
/*Cart Footer (Totle, Buttons)*/
.sidebar-menu .cart-widget-footer {
    display: table-row;
    vertical-align: bottom;
    height: auto;
}

    .sidebar-menu .cart-widget-footer .cart-footer-inner {
        padding: 30px;
        display: table-cell;
        vertical-align: bottom;
    }

    .sidebar-menu .cart-widget-footer .cart-total-hedding {
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
    }

        .sidebar-menu .cart-widget-footer .cart-total-hedding .cart-total-price {
            color: black;
            float: right;
        }

    .sidebar-menu .cart-widget-footer .cart-action-buttons {
        display: block;
        text-align: center;
    }

        .sidebar-menu .cart-widget-footer .cart-action-buttons .btn {
            width: 100%;
        }

            .sidebar-menu .cart-widget-footer .cart-action-buttons .btn:first-child {
                margin-bottom: 15px;
            }

            .close-icon-black {
              background: url("../images/close-icon-black.png") center center no-repeat;
              height: 16px;
              width: 16px;
              display: block;
              transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              -webkit-transition: all 0.3s ease 0s;
          }
          
              .close-icon-black:hover {
                  -ms-transform: rotate(90deg); /* IE 9 */
                  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
                  transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  transition: all 0.3s ease 0s;
                  -moz-transition: all 0.3s ease 0s;
                  -o-transition: all 0.3s ease 0s;
                  -webkit-transition: all 0.3s ease 0s;
              }

          
  