body {
  font: 14px "Montserrat", 'Open Sans', sans-serif;
  background-color: #F2F0E9;
}

.menu-selection a{
  text-decoration: none;
  color: #F2F0E9;
  margin-bottom: 3px;
}

header{
  background-color: #FFDD56 ;
}

.menu-selection-icons{
  display: none;
}

.menu-selection-search{
 display: none;
}

.header-collapse{
  background-color: #262626;
}

.navbar{
  background-color: #262626;
}

.space-img-logo{
  width: 100%;
  height: 64px;
}

.img-logo{
  border: 4px solid #262626;
  border-radius: 12px;
}

.search-text{
  background-color: #F2F0E9;
  border-radius: 30px;
  border: none;
  padding: 5px 0;
  height: 22px;
}

.search-text input{
  background-color: #F2F0E9;
  color: #262626;
  border: 0;
  width: 90%;
}

.search-button button{
  background-color: transparent;
  border: none;
  height: 15px;
  color: #F2F0E9
}

.container-navigation-cart img{
  width: 80%;
}


.tittleCarousel{
  display: flex;
  justify-content: center;
  
}

hr{
  display: none;
}


.tittle p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
}

.containerProduct{
margin-bottom: 3%;
border: 4px solid #262626;
background-color: #ffea98;
border-radius: 30px;
}

.imgProduct{
  margin: 5% 0%;
}

h4{
  font-style:'Open Sans', sans-serif;
}

.card-text p{
  font-family: 'Montserrat';
}

.price{
  height: 30px;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.price p {
  font-weight: 800;
  font-size: 21px;
  padding-top: 4px;
  text-align: center;
  font-family: 'Montserrat';
}

.view img{
  width: 21%;
}

.addToCart img{
  width: 85%;
}

.cardBody{
  position: relative;
}

footer h2{
  font-size: 12px;
}

footer h3{
  font-size: 14px;
}

footer p{
  font-size: 12px;
  margin: 2px;
}

footer a{
  border: 2px solid #F2F0E9;
  border-radius: 3px;
  text-decoration: none;
  color: #F2F0E9;
  padding: 2px;
}

footer h6{
  font-size: 12px;
}

.footer-copyright{
  background-color: #262626;
  color: #F2F0E9;
}

.footer-subscribe{  
  background-color: #3A3A38;
  color: #F2F0E9;
}

@media(min-width:426px) {
  .carousel-item{
    flex-direction: row;
  }

}

@media(min-width:768px) {

  .collapse:not(.show) {
    display: flex;
  }

  hr{
    display: block;
    border: 3px solid #262626;
    margin-top: 28px;
  }
  .fixed-top{
    position: static;
  }
  .container-menu-selection{
    background: rgb(255,221,86);
    background: linear-gradient(180deg, rgba(255,221,86,1) 0%, rgba(255,234,152,1) 100%);
    flex-direction: row-reverse!important;
  }

  .menu-selection{
    flex-direction: row!important;
    flex-wrap: wrap!important;
    width: 85%;
    justify-content: space-between!important;
  }

  .menu-selection-icons{
    display: flex;
    justify-content: space-around;
  }

  .menu-selection-icons a{
    display: flex;
    justify-content: center;
    width: 30px;

  }

  .menu-selection-icons img{
    width: 50%;
  }

  .menu-selection-search{
    display: flex;
    width: 300px;
    margin-right: 50px;
  }

  .search-text,
  .search-text input{
    background-color: #262626;
    color: #F2F0E9;
  }

  .search-button button{
    color: #262626;
  }

  .login{
    display: flex!important;
    justify-content: flex-end;
    width: 35%;
  }

  .login a{
    margin: 0px;
  }

  .login img{
    width: 22px;
  }

  .menu-bottom{
    width: 100%;
  }

  .menu-selection-options{
    flex-direction: row!important;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    width: 100%;
  }

  .menu-selection-options a{
    color: #262626;
    text-transform: uppercase;
    font-weight: 700;
  }

  .menu-selection-options a + a:before{
    content: ' | ';
    padding: 0 5px;
  }

  .menu-selection-options a:hover{
    font-size: larger;
    font-weight: 800;
  }

  .menu-selection-cart{
    display: flex!important;
    width: 20%;
    align-items: flex-end;
    margin-right: 48px;
    justify-content: flex-end;
  }

  .menu-selection-cart a{
    display: flex;
    justify-content: flex-end;
  }

  .menu-selection-cart img{
    width: 40px;
  }


  .container-navigation {
    display: none;
  }

  .logo-container{
    display: none;
  }
  .carousel-item{
    flex-direction: row;
  }
} 
/* estilos de listado de producto*/
.shopping-cart {
  width: 95%;
  height: 95%;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color:#F2F0E9;
  border: 1px black solid;
}
.titlecompra {
  height: 60px;
  padding: 20px 30px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.contenedorDeEncabezado{
  border: black solid 1px;
  align-items: center;
}
.encabezadoDeListado{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 10px;
  border-bottom: black 1px solid;
  padding-top: 11px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size:medium;
  background-color: #FFDD56;
}
.detallePrecio{
  padding-left: 470px;
}
.detalleCantidad{
  padding-left: 160px;
}
.detalleTotal{
  padding-left: 240px;
}
.descripcionProducto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 15px;
}
.imagen {
  margin-right: 0px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.totalaPagar{
  border: black solid 2px;
  margin: auto;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;

}
.textoCuotas{
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.finalizarCompra{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size:small ;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}