body {
  font: 14px "Montserrat", 'Open Sans', sans-serif;
  background-color: #F2F0E9;
}

.menu-selection a{
  text-decoration: none;
  color: #F2F0E9;
  margin-bottom: 3px;
}

header{
  background-color: #FFDD56 ;
}

.menu-selection-icons{
  display: none;
}

.menu-selection-search{
 display: none;
}

.header-collapse{
  background-color: #262626;
}

.navbar{
  background-color: #262626;
}

.space-img-logo{
  width: 100%;
  height: 64px;
}

.img-logo{
  border: 4px solid #262626;
  border-radius: 12px;
}

.search-text{
  background-color: #F2F0E9;
  border-radius: 30px;
  border: none;
  padding: 5px 0;
  height: 22px;
}

.search-text input{
  background-color: #F2F0E9;
  color: #262626;
  border: 0;
  width: 90%;
}

.search-button button{
  background-color: transparent;
  border: none;
  height: 15px;
  color: #F2F0E9
}

.tittleCarousel{
  display: flex;
  justify-content: center;
}

hr{
  display: none;
}


.tittle p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
}

.containerProduct{
margin-bottom: 3%;
border: 4px solid #262626;
background-color: #ffea98;
border-radius: 30px;
}

.imgProduct{
  margin: 5% 0%;
}

h4{
  font-style:'Open Sans', sans-serif;
}

.card-text p{
  font-family: 'Montserrat';
}

.price{
  height: 30px;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.price p {
  font-weight: 800;
  font-size: 21px;
  padding-top: 4px;
  text-align: center;
  font-family: 'Montserrat';
}

.view img{
  width: 21%;
}

.addToCart img{
  width: 85%;
}

.cardBody{
  position: relative;
}



@media(min-width:426px) {
  .carousel-item{
    flex-direction: row;
  }

}

@media(min-width:768px) {

  .collapse:not(.show) {
    display: flex;
    
}
hr{
  display: block;
  border: 3px solid #262626;
  margin-top: 28px;
}
.fixed-top{
  position: static;
}
.container-menu-selection{
  background: rgb(255,221,86);
  background: linear-gradient(180deg, rgba(255,221,86,1) 0%, rgba(255,234,152,1) 100%);
  flex-direction: row-reverse!important;
}

.menu-selection{
  flex-direction: row!important;
  flex-wrap: wrap!important;
  width: 85%;
  justify-content: space-between!important;
}

.menu-selection-icons{
  display: flex;
  justify-content: space-around;
}

.menu-selection-icons a{
  display: flex;
  justify-content: center;
  width: 30px;

}

.menu-selection-icons img{
  width: 50%;
}

.menu-selection-search{
  display: flex;
  width: 300px;
  margin-right: 50px;
}

.search-text,
.search-text input{
  background-color: #262626;
  color: #F2F0E9;
}

.search-button button{
  color: #262626;
}

.login{
  display: flex!important;
  justify-content: flex-end;
  width: 35%;
}

.login a{
  margin: 0px;
}

.login img{
  width: 22px;
}

.menu-bottom{
  width: 100%;
}

.menu-selection-options{
  flex-direction: row!important;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  width: 100%;
}

.menu-selection-options a{
  color: #262626;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-selection-options a + a:before{
  content: ' | ';
  padding: 0 5px;
}

.menu-selection-options a:hover{
  font-size: larger;
  font-weight: 800;
}

.menu-selection-cart{
  display: flex!important;
  width: 20%;
  align-items: flex-end;
  margin-right: 48px;
  justify-content: flex-end;
}

.menu-selection-cart a{
  display: flex;
  justify-content: flex-end;
}

.menu-selection-cart img{
  width: 40px;
}


.container-navigation {
  display: none;
}

.logo-container{
  display: none;
}
  .carousel-item{
    flex-direction: row;
  }
} 