body {
    font: 14px "Montserrat", 'Open Sans', sans-serif;
    background-color: #F2F0E9;
  }
  
  .menu-selection a{
    text-decoration: none;
    color: #262626;
    margin-bottom: 3px;
  }
  
  header{
    background-color: #262626 ;
  }
  
  h3{
    color: white;
  }

  .menu-selection-icons{    
    display: none;
  }

  .adminUserImg{
    width: 30px;
  }
  .menu-selection-search{
   display: none;
  }
  
  .header-collapse{
    background-color: #FFDD56;
  }
  
  .navbar{
    background-color: #262626;
  }
  
  .space-img-logo{
    width: 100%;
    height: 64px;
  }
  
  .img-logo{
    border: 4px solid #262626;
    border-radius: 12px;
  }
  
  .search-text{
    background-color: #F2F0E9;
    border-radius: 30px;
    border: none;
    padding: 5px 0;
    height: 22px;
  }
  
  .search-text input{
    background-color: #F2F0E9;
    color: #262626;
    border: 0;
    width: 90%;
  }
  
  .search-button button{
    background-color: transparent;
    border: none;
    height: 15px;
    color: #F2F0E9
  }
  
  .container-navigation-cart img{
    width: 80%;
  }

  @media(min-width:768px) {
    header{
      background-color: #262626;
    }

    .collapse:not(.show) {
      display: flex;
    }
  
    hr{
      display: block;
      border: 3px solid #262626;
      margin-top: 28px;
    }
    .fixed-top{
      position: static;
    }
    .container-menu-selection{
      background: rgb(26,26,26);
      flex-direction: row-reverse!important;
    }
  
    .menu-selection{
      flex-direction: row!important;
      flex-wrap: wrap!important;
      width: 85%;
      justify-content: space-between!important;
    }
  
    .menu-selection-icons{
      display: flex;
      justify-content: space-around;
    }
  
    .menu-selection-icons a{
      display: flex;
      justify-content: center;
      width: 30px;
  
    }
  
    .menu-selection-icons img{
      width: 50%;
    }
  
    .menu-selection-search{
      justify-content: flex-end;
      display: flex;
      width: 100%;
      margin-right: 50px;
    }
  
    .login{
      margin-top: -1%;
      display: flex!important;
      justify-content: flex-end;
      width: 5%;
    }
  
    .login a{
      margin: 0px;
    }
  
    .login img{
      color: white;
      width: 22px;
    }
  
    .menu-bottom{
      width: 80%;
    }
  
    .menu-selection-options{
      padding-bottom: 3%;
      flex-direction: row!important;
      justify-content: center;
      align-items: flex-end;
      height: 80px;
      width: 100%;
    }
  
    .menu-selection-options a{
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: large;
    }
  
    .menu-selection-options a + a:before{
      content: ' | ';
      padding: 0 5px;
    }
  
    .menu-selection-options a:hover{
      font-size: x-large;
      font-weight: 800;
    }
  
    .container-navigation {
      display: none;
    }
  
    .logo-container{
      display: none;
    }
    .carousel-item{
      flex-direction: row;
    }
  } 