footer{
    background-color: black;
    height: 10vh;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

h3{
    
    color: white;
    text-align-last: center;
}