.formulario{
<<<<<<< HEAD
    margin: 5vh 0;
    border: 2px solid #262626;
}

.filaForm{
    margin: 5% 0%
}

.botonCargar{
    display: flex;
    direction: rtl;
=======
    border-left:2px solid #262626;
    border-right:2px solid #262626;
}

.first{
    margin-top: 5vh;
    padding-top: 20px;
    border-top:2px solid #262626;
}

.last{
    border-bottom:2px solid #262626;
>>>>>>> 20defc3f98590cb18199a84216d8d61f939170c7
}

.title{
    margin-top: 5%;
}

.campo{
    font-weight: bold;
}