
<header>
    <div class="fixed-top">
        <div class="row collapse m-0 header-collapse justify-content-between container-menu-selection"
            id="navbarToggleExternalContent">
            <div class=" pt-2 pl-3 d-flex flex-column justify-content-start menu-selection">
                <div class="menu-selection-search align-items-center">
                    <div class=" d-flex justify-content-center">
                        <h3>ADMIN</h3>
                    </div>
                    <div class="login d-none">
                        <a class="d-flex justify-content-center" href=""><img src="images/adminUser.svg" alt="login"></a>
                    </div>
                </div>
                <div class="d-flex menu-bottom">
                    <div class="d-flex flex-column menu-selection-options">
                        <a href="">Productos</a>
                        <a href="">Usuarios</a>
                        <a href="">Pedidos</a>
                        <a href="">Ventas</a>
                    </div>
                </div>
            </div>
            <div class="p-2 pr-4 d-flex logo-container">
                <img class="img-logo" src="/images/logo2.jpg" alt="logo-DHToys">
            </div>
        </div>
        <nav class="navbar navbar-dark container-navigation row">
            <div class="col-10">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="col-2">
                <a class="d-flex justify-content-center" href=""><img class="adminUserImg" src="images/adminUser.svg" alt="login"></a>
            </div>
        </nav>
    </div>
    <div class="row col-12 p-0 m-0 justify-content-center logo-container">
        <div class="space-img-logo"></div>
        <img class="img-logo mt-1 mb-1" src="/images/logo2.jpg" alt="logo-DHToys">
    </div>
</header>