<!--Carousel Wrapper-->
<div class="row">
    <div class="col-md-3">
        <hr>
    </div>
    <div class="col-md-6 tittle ">
        <p>Los más vendidos</p>
    </div>
    <div class="col-md-3">
        <hr>
    </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      </div>

    <div class="carousel-item">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
    <div class="carousel-item">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-2 containerProduct">
            <img class="card-img-top"
              src="images/photo.png"
              alt="Card image cap">
            <div class="card-body cardBody">
              <h4 class="card-title" style="text-align: center;">Lorem ipsum</h4>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut facere eligendi non omnis vitae.</p>
                <div class="price">
                    <p class="card-text">$1500</p>
                </div>
              <a class="view"><img src="images/eye.png" alt=""></a>
              <a class="addToCart"><img src="images/cart.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


