<section id="sidebar-right" class="sidebar-menu sidebar-right sidebar-open hide">
  <div class="cart-sidebar-wrap">
    <!-- Cart Headiing -->
    <div class="cart-widget-heading">
      <h4>Carrito de compras</h4>
      <!-- Close Icon -->
      <a
        href="javascript:void(0)"
        id="sidebar_close_icon"
        class="close-icon-black"
      ></a>
      <!-- End Close Icon -->
    </div>
    <!-- End Cart Headiing -->
    <!-- Cart Product Content -->
    <div class="cart-widget-content">
      <div class="cart-widget-product">
        <!-- Empty Cart -->
        <div class="cart-empty">
          <p>No hay items agregados al carrito.</p>
        </div>
        <!-- EndEmpty Cart -->

        <!-- Cart Products -->
        <ul class="cart-product-item">
          <!-- Item -->
          <li>
            <!--Item Image-->
            <a href="#" class="product-image">
              <img src="/images/products/batman.jpg" alt=""
            /></a>

            <!--Item Content-->
            <div class="product-content">
              <!-- Item Linkcollateral -->
              <a class="product-link" href="#"
                >Batman</a
              >

              <!-- Item Cart Totle -->
              <div class="cart-collateral">
                <span class="qty-cart">1</span>&nbsp;<span>×</span>&nbsp;<span
                  class="product-price-amount"
                  ><span class="currency-sign">$</span>1500</span
                >
              </div>

              <!-- Item Remove Icon -->
              <a class="product-remove" href="javascript:void(0)"
                ><i class="fa fa-times-circle" aria-hidden="true"></i
              ></a>
            </div>
          </li>

          <!-- Item -->
          <li>
            <!--Item Image-->
            <a href="#" class="product-image">
              <img src="/images/products/buzz.jpg" alt=""
            /></a>

            <!--Item Content-->
            <div class="product-content">
              <!-- Item Linkcollateral -->
              <a class="product-link" href="#"
                >Buzz Lightyear</a
              >

              <!-- Item Cart Totle -->
              <div class="cart-collateral">
                <span class="qty-cart">2</span>&nbsp;<span>×</span>&nbsp;<span
                  class="product-price-amount"
                  ><span class="currency-sign">$</span>2000</span
                >
              </div>

              <!-- Item Remove Icon -->
              <a class="product-remove" href="javascript:void(0)"
                ><i class="fa fa-times-circle" aria-hidden="true"></i
              ></a>
            </div>
          </li>
        </ul>
        <!-- End Cart Products -->
      </div>
    </div>
    <!-- End Cart Product Content -->

    <!-- Cart Footer -->
    <div class="cart-widget-footer">
      <div class="cart-footer-inner">
        <!-- Cart Total -->
        <h4 class="cart-total-hedding normal">
          <span>Total :</span><span class="cart-total-price">$5500</span>
        </h4>
        <!-- Cart Total -->

        <!-- Cart Buttons -->
        <div class="cart-action-buttons">
          <a href="/cart" class="btn btn-md btn-warning"
            >Ver Carrito</a
          >
          <a href="/cart" class="btn btn-md btn-warning"
            >Comprar</a
          >
        </div>
        <!-- End Cart Buttons -->
      </div>
    </div>
    <!-- Cart Footer -->
  </div>
</section>
<div class="sidebar_overlay sidebar_overlay_active hide" ></div>

