<div class="page-content-wraper">
  <!-- Page Content -->
  <section class="content-page">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div id="map" class="map style1 mb-45"></div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 mb-xs-30">
                  <h2 class="textNvoCliente"><span>Medios de Contacto</span></h2>
                  <p class="mb-25">Te compartimos todos nuestros medios de contactos</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.453125153901!2d-64.23026518552079!3d-31.374067081418186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329925db297bdb%3A0x7e86039d5aacc330!2zQXYuIFJhZmFlbCBOw7rDsWV6IDM4MDAsIEPDs3Jkb2Jh!5e0!3m2!1ses!2sar!4v1596387039262!5m2!1ses!2sar" width="350" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  <h6 class="campo">Nuestra Sucursal</h6>
                  <p class="mb-25">
                      Rafael Nuñez 3800,
                      <br>
                      Córdoba,
                      <br>
                      Argentina
                  </p>
                  <h6 class="campo">Nuestros Canales de atención</h6>
                  <ul class="Contact-information mb-25">
                      <li><i class="fa fa-envelope" aria-hidden="true"></i>info@DHToys.com.ar</li>
                      <li><i class="fa fa-phone" aria-hidden="true"></i>(351) 456789</li>
                  </ul>
                  <h6 class="campo">Seguinos en nuestras Redes</h6>
                  <div class="product-share mtb-30">
                      <ul class="menu-selection-icons">
                          <a href=""><img src="/images/instagram.svg" alt="instragram-logo-link"></a>
                          <a href=""><img src="/images/twitter.svg" alt="twitter-logo-link"></a>
                          <a href=""><img src="/images/facebook-f.svg" alt="facebook-f-logo-link"></a>
                      </ul>
                  </div>

              </div>
              <div class="col-md-6 offset-md-2">
                  <h2 class="textNvoCliente"><span>Contacto</span></h2>
                  <form class="Contact-form">
                      <div class="campo">
                          <label>Nombre</label>
                          <input id="author" class="input-md form-full-width" name="author" placeholder="Ingresa tu nombre" value="" size="30" aria-required="true" required="" type="text">
                      </div>
                      <br>
                      <div class="campo">
                          <label>Email
                          </label>
                          <input id="author-email" class="input-md form-full-width" name="author" placeholder="Ingresa tu Email" value="" size="30" aria-required="true" required="" type="email">
                      </div>
                      <br>
                      <div class="campo">
                          <label>Asunto</label>
                          <input id="subject" class="input-md form-full-width" name="author" placeholder="Ingresa el asunto" value="" size="30" aria-required="true" required="" type="text">
                      </div>
                      <br>
                      <div class="campo">
                          <label>Comentario</label>
                          <textarea id="comment" class="form-full-width" name="comment" placeholder="Deja tu comentario" cols="45" rows="8" aria-required="true" required=""></textarea>
                      </div>
                      <br>
                      <div class="campo">
                          <input name="submit" id="submit" class="btn btn-dark" value="Enviar" type="submit">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>