<footer id="footer">
    <div class="row col-12 justify-content-between align-center footer-subscribe pb-3 pt-3 m-0">
        <div class="col-6 p-0">
            <h3 class="h-30">Subscribe to Digital House Toys</h3>
            <p class="d-none">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="mailto:user@domainName.com">Subscribe</a>
        </div>
        <div class="col-6 d-flex justify-content-end flex-wrap align-items-end">
            <div class="h-30">
                <h6>+45 351 6196397</h6>
                <h6>dhtoys@gmail.com</h6>
            </div>
        </div>
    </div>
    <div class="row col-12 justify-content-start footer-copyright m-0 pt-2">
        <div>
            <h2>© Digital House TOYS</h2>
        </div>
    </div>
</footer>