<div class="container">
    <div class="row justify-content-center title">
        <h1>CARGAR PRODUCTO</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-8 col-xl-8">
            <form class="formulario">
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label for="nombre" class="campo">Nombre Producto</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del producto">
                    </div>  
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                        <label class="campo" for="precio">Precio Unitario</label>
                        <input type="number" class="form-control" id="precio" placeholder="Ingrese precio del producto">
                    
                    </div>
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label class="campo" for="descripcion">Descripcion</label>
                            <textarea type="text" class="form-control" id="descripcion" rows="5">
                            </textarea>
                       
                    </div>
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label class="campo" for="imagen">Imagen</label>
                            <input type="file" class="form-control" id="imagen" >
                        
                    </div>
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label class="campo" for="imagen">Orden</label>
                            <input type="number" class="form-control" id="orden" placeholder="Ingrese el Orden del producto" >
                    </div>
                </div>
                <div class="row justify-content-around filaForm">
                    <div class="col-5">
                        <button type="button" class="btn btn-warning">CANCELAR</button>
                    </div>
                    <div class="col-5 botonCargar">
                        <button type="button" class="btn btn-warning">CANCELAR</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
