<header>
    <nav class="navbar col-12 d-flex align-items-start">
        <div class="col-3 p-0 d-flex justify-content-around">
            <img class="img-logo" src="/images/logo2.jpg" alt="logo-DHToys">
        </div>
        <div class="col-6 d-flex p-0 justify-content-end">
            <div class="col-10 search-text d-flex justify-content-center">
                <input type="text">
            </div>
            <div class="col-2 search-button p-0 d-flex align-items-center">
                <button type="submit" class="fas fa-search"></button>
            </div>
        </div>
        
        
        <div>
            <ul>
                <li>probando</li>
                <li>funcionamiento</li>
                <li>del partial</li>
            </ul>
        </div>
    </nav>
</header>