<header>
    <nav>
        <p>BARRA DE NAVEGACION</p>
        <ul>
            <li>probando</li>
            <li>funcionamiento</li>
            <li>del partial</li>
        </ul>
    </nav>
</header>