<header>
    <div class="fixed-top">
        <div class="row collapse m-0 header-collapse justify-content-between container-menu-selection"
            id="navbarToggleExternalContent">
            <div class=" pt-2 pl-3 d-flex flex-column justify-content-start menu-selection">
                <div class="menu-selection-icons">
                    <a href=""><img src="/images/instagram.svg" alt="instragram-logo-link"></a>
                    <a href=""><img src="/images/twitter.svg" alt="twitter-logo-link"></a>
                    <a href=""><img src="/images/facebook-f.svg" alt="facebook-f-logo-link"></a>
                </div>
                <div class="menu-selection-search align-items-center ">
                    <div class="search-text d-flex justify-content-center col-5">
                        <input type="text">
                    </div>
                    <div class="search-button p-0 d-flex align-items-center col-1">
                        <button type="submit" class="fas fa-search"></button>
                    </div>
                    <% if(user != undefined) { %>
                        <div class="login d-none col-2">
                            <a class="d-flex justify-content-center" href="/users/login"><img src=../images/users/<%- user[0].avatar %> alt="login"></a>
                        </div>
                        <div class="btn-group col-4">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%- user[0].name %>
                            </button>
                            <div class="dropdown-menu userOptions">
                              <a class="dropdown-item" href="/users/profile">Perfil</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
                            </div>
                          </div>
                    <% } else { %>
                        <div class="login d-none col-6">
                            <a class="d-flex justify-content-center" href="/users/login"><img src="/images/user.svg" alt="login"></a>
                        </div>
                    <% } %>
                </div>
                <div class="d-flex menu-bottom">
                    <div class="d-flex flex-column menu-selection-options">
                        <a href="/">Home</a>
                        <a href="/products">Juguetes</a>
                        <a href="">Por Edad</a>
                        <a href="">Nosotros</a>
                        <a href="">Contacto</a>
                    </div>
                    <div class="d-none menu-selection-cart">
                        <a href="/cart"><img src="/images/cart.png" alt="logo-cart"></a>
                    </div>
                </div>
            </div>
            <div class="p-2 pr-4 d-flex logo-container">
                <img class="img-logo" src="/images/logo2.jpg" alt="logo-DHToys">
            </div>
        </div>
        <nav class="navbar navbar-dark container-navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row col-8 p-0">
                <div class="col-8 search-text d-flex justify-content-center">
                    <input type="text">
                </div>
                <div class="col-2 search-button p-0 d-flex align-items-center">
                    <button type="submit" class="fas fa-search"></button>
                </div>
                <div class="col-2 p-0 d-flex container-navigation-cart justify-content-center align-items-center">
                    <a href=""><img src="/images/shopping-cart-solid.svg" alt="logo-cart"></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row col-12 p-0 m-0 justify-content-center logo-container">
        <div class="space-img-logo"></div>
        <img class="img-logo mt-1 mb-1" src="/images/logo2.jpg" alt="logo-DHToys">
    </div>
</header>