<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row mb-45">
                    <div class="col-sm-12 text-center">
                        <h2 class="textNvoCliente"><span>Nuestra historia</span></h2>
                        <br>
                    </div>
                    <div class="col-sm-6"> 
                        <p class="large">Nuestra historia se remonta a enero del 2020, no sabíamos lo que nos esperaba en ese momento, pero en oriente estaba sucediendo algo que cambiaría el mundo!.<br> Así fue como tuvimos que cambiar nuestra forma de pensar e ir al mundo digital.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="large">En este contexto nos sugió la idea de crear DHToys, con el objetivo de combinar productos de la más alta calidad a los mejores precios posibles con entrega rápida y excelente servicio al cliente, con una experiencia de compra de juguetes en línea simple y confiable para proporcionar a los niños recuerdos para toda la vida.Capturar el corazón de un niño es hacer bien nuestro trabajo.</p>
                    </div>
                </div>
                <!--Imagenes del cambio-->
                <div class="row">
                    <div class="col-sm-6">
                        <img class= "img-thumbnail rounded" src="/images/DHtoysfisico.png" />
                    </div>
                    <div class="col-sm-6">
                        <img class= "img-thumbnail rounded" src="/images/pagina1.png" />
                    </div>
                </div>
                <!--Imagenes del cambio-->
            </div>
        </div>
    </div>
    <section class="section-padding bg-gray">
        <div class="container text-center mb-45">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h2 class="textNvoCliente"><span>Sobre Nosotros</span></h2>
                    <p class="large">
                        Somos un grupo de futuros desarrolladores web que imaginaron como llevar la jugueteria tradicional a la web.<br /> Que luego de muchas horas de trabajo llegaron a esta meta.<br />
                        Nos presentamos:
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container text-center">
            <div class="row">
                        <!-- item.1 -->
                        <div class="col-sm-4">
                                    <img src="/images/fran.png" alt="" class="rounded-circle img-rounded border border-dark" width="45%">
                            <div class="product-detail">
                                <br>
                                <h6 class="campo">Fran</h6>
                            </div>
                        </div>
                        <!-- item.2 -->
                        <div class="col-sm-4">
                            <img src="/images/nacho.png" alt="" class="rounded-circle img-rounded border border-dark" width="45%">
                    <div class="product-detail">
                        <br>
                        <h6 class="campo">Nacho</h6>
                    </div>
                </div>
                        <!-- item.3 -->
                        <div class="col-sm-4">
                            <img src="/images/edu.png" alt="" class="rounded-circle img-rounded border border-dark" width="45%">
                    <div class="product-detail">
                        <br>
                        <h6 class="campo">Edu</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>