<h2>Nuestra Historia</h2>
<p>Viajemos en el tiempo</p><br>
<p>Nuestra historia se remonta a enero del 2020, no sabíamos lo que nos esperaba en ese momento, pero en oriente estaba sucediendo algo que cambiaría el mundo! </p><br>
<p>Y así fue! por un ser que no podíamos ver, nos vimos obligados a estar encerrados en nuestros hogares, cambiaron muchas cosas, pero uno de los cambios más grandes fue que toda la familia estaba junta de nuevo!</p><br>
<p>Nos dimos cuenta que solo la televisión no alcazaba para entretener a nuestros hijos, que necesitábamos estimular aún más su imaginación, que aprendan a armar, a desarmar, a hacer y que faltaba algo... algo que en nuestra infancia teníamos y ellos no!</p><br>
<p>En este contexto nos sugió la idea de crear DHToys,con el objetivo de combinar productos de la más alta calidad a los mejores precios posibles con entrega rápida y excelente servicio al cliente, con una experiencia de compra de juguetes en línea simple y confiable para proporcionar a los niños recuerdos para toda la vida. Capturar el corazón de un niño es hacer bien nuestro trabajo.</p>